Todo App - Version 3 (Add persistence & Modular)
1-[x] It should have a way to persist todos
2-[x] Initialize todos variable with an object
3-[x] Add function should add object
4-[x] Edit function should edit object
5-[x] Add isCompleted property to a todo object

Todos App - Version 2 (Making things more modular)
1-[x] It should have a function to add a todo
2-[x] It should have a function to edit a todo
3-[x] It should have a function to remove a todo

Todos App - Version 1
1-[x] It should have a way to store items
2-[x] It should have a way to display the items
3-[x] It should have a way to add items
4-[x] It should have a way to edit items
5-[x] It should have a way to remove items