Todos App - Version 2 (Making things more modular)
1-[x] It should have a function to add a todo
2-[x] It should have a function to edit a todo
3-[x] It should have a function to remove a todo

Todos App - Version 1
1-[x] It should have a way to store items
2-[x] It should have a way to display the items
3-[x] It should have a way to add items
4-[x] It should have a way to edit items
5-[x] It should have a way to remove items